<form [formGroup]="employeeForm" class="p-5">

    <div class="row">
      <!-- Employment_Type -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Employment Type</mat-label>
          <input matInput formControlName="Employment_Type"  />
        </mat-form-field>
      </div>
  
      <!-- Billable_Status -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Billable Status</mat-label>
          <input matInput formControlName="Billable_Status"  />
        </mat-form-field>
      </div>
  
      <!-- Employee_Status -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Employee Status</mat-label>
          <input matInput formControlName="Employee_Status"  />
        </mat-form-field>
      </div>
  
      <!-- SystemID -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>System ID</mat-label>
          <input matInput formControlName="SystemID"  />
        </mat-form-field>
      </div>
  
      <!-- BenslID -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Bensl ID</mat-label>
          <input matInput formControlName="BenslID"  />
        </mat-form-field>
      </div>
  
      <!-- Full_Name -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="Full_Name"  />
        </mat-form-field>
      </div>
  
      <!-- Role -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Role</mat-label>
          <input matInput formControlName="Role"  />
        </mat-form-field>
      </div>
  
      <!-- Skill -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Skill</mat-label>
          <input matInput formControlName="Skill"  />
        </mat-form-field>
      </div>
  
      <!-- Team -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Team</mat-label>
          <input matInput formControlName="Team"  />
        </mat-form-field>
      </div>
  
      <!-- Manager_Name -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Manager Name</mat-label>
          <input matInput formControlName="Manager_Name"  />
        </mat-form-field>
      </div>
  
      <!-- Manager_ID -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Manager ID</mat-label>
          <input matInput formControlName="Manager_ID"  />
        </mat-form-field>
      </div>
  
      <!-- Critical -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Critical</mat-label>
          <input matInput formControlName="Critical"  />
        </mat-form-field>
      </div>
  
      <!-- DOJ_Allianz -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>DOJ Allianz</mat-label>
          <input matInput formControlName="DOJ_Allianz"  />
        </mat-form-field>
      </div>
  
      <!-- DOL_Allianz -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>DOL Allianz</mat-label>
          <input matInput formControlName="DOL_Allianz"  />
        </mat-form-field>
      </div>
  
      <!-- Grade -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Grade</mat-label>
          <input matInput formControlName="Grade"  />
        </mat-form-field>
      </div>
  
      <!-- Designation -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Designation</mat-label>
          <input matInput formControlName="Designation"  />
        </mat-form-field>
      </div>
  
      <!-- DOJ_Project -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>DOJ Project</mat-label>
          <input matInput formControlName="DOJ_Project"  />
        </mat-form-field>
      </div>
  
      <!-- DOL_Project -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>DOL Project</mat-label>
          <input matInput formControlName="DOL_Project"  />
        </mat-form-field>
      </div>
  
      <!-- Gender -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Gender</mat-label>
          <input matInput formControlName="Gender"  />
        </mat-form-field>
      </div>
  
      <!-- Company -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Company</mat-label>
          <input matInput formControlName="Company"  />
        </mat-form-field>
      </div>
  
      <!-- Emailid -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Email ID</mat-label>
          <input matInput formControlName="Emailid"  />
        </mat-form-field>
      </div>
  
      <!-- Location -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Location</mat-label>
          <input matInput formControlName="Location"  />
        </mat-form-field>
      </div>
  
      <!-- BillingRate -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Billing Rate</mat-label>
          <input matInput formControlName="BillingRate"  />
        </mat-form-field>
      </div>
  
      <!-- Rate_Card -->
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Rate Card</mat-label>
          <input matInput formControlName="Rate_Card"  />
        </mat-form-field>
      </div>
  
      <!-- Remarks -->
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Remarks</mat-label>
          <textarea matInput formControlName="Remarks" ></textarea>
        </mat-form-field>
      </div>
    </div>
  
  </form>
  